.button {
    width: var(--width);
    height: var(--height);
    background-color: var(--grey);
    border: 1px solid var(--brown);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: var(--dark-grey);
}