@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.spinner-container {
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: center;
}

.spinner {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(50, 50, 50);
    animation: spin 5s linear infinite;
}