.user-info-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.user-info-container .picture-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
