.chat-area {
    --msg-textarea-height: 30px;
    display: grid;
    height: 100vh;
    padding: 5px;
    grid-template-rows: 1fr var(--msg-textarea-height);
}

.chat-area ul.chat-messages {
    overflow: scroll;
    display: flex;
    flex-flow: column;
    gap: 40px;
    border: 1px solid black;
}
.chat-area #msg-send-form {
    display: flex;
    gap: 5px;
}
.chat-area #msg-send-form textarea {
    height: var(--msg-textarea-height);
    outline: none;
    width: 100%;
    border: 1px solid var(--brown);
    padding: 5px;
}