.home-content {
    position: absolute;
    left: var(--navbar-width);
    padding: 10px 0;
    display: grid;
    grid-template-columns: min(40%, 350px) 1fr;
    background-color: var(--milky-white);
    height: 100vh;
    width: calc(100% - var(--navbar-width));
}

.conversation-list {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 15px;
    border-right: 2px solid var(--vertical-seperator-color);
}

.conversation-list ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
