.base {
    --navbar-width: 50px;
    height: 100%;   /* 100% of root */
}

aside {
    position: fixed;
    height: 100%;
    width: var(--navbar-width);
}

nav {
    border-right: 2px solid var(--brown);
    height: 100%;
    padding: 20px 0;
}

nav ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    height: 100%;
    gap: 30px;
    margin-top: auto;
}

nav ul li {
    text-align: center;
}

/* Logout at bottom */
nav ul li:last-child {
    margin-top: auto;
}

.base-main-content {
    position: absolute;
    left: var(--navbar-width);
    background-color: var(--milky-white);
    height: 100%;
    width: calc(100% - var(--navbar-width));
}