.home-content {
    display: grid;
    grid-template-columns: min(40%, 350px) 1fr;
    height: 100%; /* 100% of base layout */
}

.conversation-list {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 15px;
    border-right: 2px solid var(--brown);
}

.conversation-list ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
