.search-page-content {
    display: grid;
    height: 100%;
    grid-template-rows: 150px 1fr;
    overflow: scroll;
}

/* upper half */

.search-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.search-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.search-form select {
    text-align: center;
    width: 100px;
    height: 40px;
}

/* lower half */

.search-results-container {
    width: 500px;
    margin: auto;
    height: 100%;
}

.search-results-container ul {
    list-style-type: none;
}

.search-results-container ul > li {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
